$white: #FFFFFF;
$black: #070724;
$grey: #38384F;
$light-grey: #838391;
$cyan: #419EBB;
$yellow: #EDA249;
$purple: #6f2ed6;
$red: #D14C32;
$dark-red: #D83A34;
$orange: #CD5120;
$light-green: #1ec2a4;
$blue: #2d68f0;